# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr
out/

# =========================
# Java / JVM
# =========================
*.class
*.log
*.ctxt

# =========================
# Build tools
# =========================

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary / backups
# =========================
*.swp
*.swo
*~
